/private_keys.json
/venv

/agents/private_keys.json
/agents/__pycache__
/agents/.env
/agents/tools/.env
/agents/tools/private_keys.json


/knowledgebase/private_keys.json
/knowledgebase/.env
/knowledgebase/__pycache__/
/knowledgebase/faiss_db/
/knowledgebase/course_files/
/knowledgebase/credentials.txt

